body {
  padding-top: 50px;
}

.topimage {
    opacity: 0.6;
    filter:alpha(opacity=40); /* For IE8 and earlier */
   
    position:relative;
    width: 100%;
    height:400px;
    margin-left: 0;
    margin-right:0;
    margin-bottom:0;
    padding: 20px;
    float: middle;
}


h1 /* title */
{
	font-family: "lobster";
	position: absolute;
	top: 330px;
	width: 100%;
	font-size: 50px;
	color: White;
	text-align: center;
}

h2 /* sub-heading */
{
	font-family: "fira-sans";
	font-size: 23px;
	color: black;
	text-align: center;
	padding: 10px;
}

h3 /* Name */
{
	font-family: "lobster";
	font-size: 40px;
	color: white;
	text-align: left;
	
}

h7 /* Name for Staff Bios*/
{
	font-family: "fira-sans";
	font-size: 40px;
	color: white;
	text-align: left;
	
}
h4 /* Bio Description */ 
{
	font-family: "fira-sans";
	font-size: 20px;
	color: white;
	text-align: left;
	margin-right: 4cm;
	
}

h5 /* Position on Yearbook Staff */ 
{
	font-family: "fira-sans";
	font-size: 28px;
	color: white;
	text-align: left;
	margin: 2;
}



p
{
	font-family: "fira-sans";
	font-size: 15px;
	color: black;
	text-align: left;
	margin-left: 3cm;	
}

.dropbtn {
    background-color: black;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: black;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.importantbox {
	width: 95%;
	margin: 30px;
	padding: 40px;
	color: black;
	border-style: solid;
	border-width: 5px;
	background-color: black;
	opacity: 0.8;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 10px;
  	float: middle;
  
}

.importantboxB /* Boxes for Staff Bios */ {
	width: 95%;
	margin: 30px;
	padding: 20px;
	color: black;
	border-style: solid;
	border-width: 5px;
	background-color: black;
	opacity: 0.8;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 10px;
  	float: middle;
  
}

.importantboxC /*Com Advertisment Page*/{
	width:50%;
	margin: 30px;
	padding: 20px;
	color: white;
	float: left;
}



