body {
  background-image: url("pink.jpg"); /*This makes the background image one image that covers the entire page */
  bbackground-repeat: no-repeat;
  background-size:cover;
}



h3 /* Links */
{
	font-family: "lobster";
	font-size: 50px;
	color: black;
	text-align: center;
	
}

/*Animates links when mouse hovers over them*/
a:hover {
    text-decoration: underline;
    color: hotpink;
}

/*code for nav bar*/
.dropbtn {
    background-color: black;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*Creates the box/ background for the links*/
.importantbox {
  	font-family: "fira-sans";
	width: 60%;
	margin-top: 70px;
	margin-bottom:20px;
	padding: 20px;
	color: black;
	background-color: #ffffff;
	opacity:.9;
  	margin-left: auto;
  	margin-right: auto;
  	float: middle;
}

